$navbar-heigth: 64px;
$footer-heigth: 124px;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $navbar-heigth;
  line-height: 60px;
  background-color: #f5f5f5;
}

// Empurra o footer para baixo
body > div > .container {
  min-height: calc(100vh - #{$navbar-heigth} - #{$footer-heigth} - 1.5rem);
}